body{
    background-color: black;
}
h1{
    color:wheat;
    text-decoration: underline;
}
a{
    color:white;
    text-decoration: none;
}
/* }
#id_tag{
    color: aquamarine;
}
#offer-link{
    color: red;
} */
.heading{
    color:white;
    text-decoration: underline;

}
.heading-success{
    color: green;
}
.card{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
    color:black;
}