.row{
    width:50%;
    background-color: aquamarine;
    border:1px solid black;
    height: 300px;
    margin-left: 100px;
    position: relative;
}
.col{
    width: 20%;
    height: 200px;
    border:1px solid white;
}

.col:nth-child(1){
    background-color: green;
    position: absolute;
    top: 0;
}

.col:nth-child(2){
    background-color: blueviolet;
    top: 0;
    position: absolute;
    right: 0;
}
.fixed{
    position: fixed;
    top: 200px;
    right: 0;
}

.sticky{
    border: 1px solid black ;
    background-color: beige;
    position: sticky;
    top: 150px;
    color: dimgrey;
}
